<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.pahanaedu.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCustomerServlet</servlet-name>
  	<display-name>AddCustomerServlet</display-name>
  	<description></description>
  	<servlet-class>com.pahanaedu.servlet.AddCustomerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditCustomerServlet</servlet-name>
  	<display-name>EditCustomerServlet</display-name>
  	<description></description>
  	<servlet-class>com.pahanaedu.servlet.EditCustomerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCustomerServlet</servlet-name>
  	<display-name>UpdateCustomerServlet</display-name>
  	<description></description>
  	<servlet-class>com.pahanaedu.servlet.UpdateCustomerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCustomerServlet</servlet-name>
  	<display-name>DeleteCustomerServlet</display-name>
  	<description></description>
  	<servlet-class>com.pahanaedu.servlet.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddItemServlet</servlet-name>
  	<display-name>AddItemServlet</display-name>
  	<description></description>
  	<servlet-class>com.pahanaedu.servlet.AddItemServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateItemServlet</servlet-name>
  	<display-name>UpdateItemServlet</display-name>
  	<description></description>
  	<servlet-class>com.pahanaedu.servlet.UpdateItemServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteItemServlet</servlet-name>
  	<display-name>DeleteItemServlet</display-name>
  	<description></description>
  	<servlet-class>com.pahanaedu.servlet.DeleteItemServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderServlet</servlet-name>
  	<display-name>OrderServlet</display-name>
  	<description></description>
  	<servlet-class>com.pahanaedu.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderHistoryServlet</servlet-name>
  	<display-name>OrderHistoryServlet</display-name>
  	<description></description>
  	<servlet-class>com.pahanaedu.servlet.OrderHistoryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderDetailsServlet</servlet-name>
  	<display-name>OrderDetailsServlet</display-name>
  	<description></description>
  	<servlet-class>com.pahanaedu.servlet.OrderDetailsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddStaffServlet</servlet-name>
  	<display-name>AddStaffServlet</display-name>
  	<description></description>
  	<servlet-class>com.pahanaedu.servlet.AddStaffServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteStaffServlet</servlet-name>
  	<display-name>DeleteStaffServlet</display-name>
  	<description></description>
  	<servlet-class>com.pahanaedu.servlet.DeleteStaffServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateStaffServlet</servlet-name>
  	<display-name>UpdateStaffServlet</display-name>
  	<description></description>
  	<servlet-class>com.pahanaedu.servlet.UpdateStaffServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditStaffServlet</servlet-name>
  	<display-name>EditStaffServlet</display-name>
  	<description></description>
  	<servlet-class>com.pahanaedu.servlet.EditStaffServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteOrderServlet</servlet-name>
  	<display-name>DeleteOrderServlet</display-name>
  	<description></description>
  	<servlet-class>com.pahanaedu.servlet.DeleteOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCustomerServlet</servlet-name>
  	<url-pattern>/AddCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditCustomerServlet</servlet-name>
  	<url-pattern>/EditCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCustomerServlet</servlet-name>
  	<url-pattern>/UpdateCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCustomerServlet</servlet-name>
  	<url-pattern>/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddItemServlet</servlet-name>
  	<url-pattern>/AddItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateItemServlet</servlet-name>
  	<url-pattern>/UpdateItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteItemServlet</servlet-name>
  	<url-pattern>/DeleteItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderServlet</servlet-name>
  	<url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderHistoryServlet</servlet-name>
  	<url-pattern>/OrderHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderDetailsServlet</servlet-name>
  	<url-pattern>/OrderDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddStaffServlet</servlet-name>
  	<url-pattern>/AddStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteStaffServlet</servlet-name>
  	<url-pattern>/DeleteStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateStaffServlet</servlet-name>
  	<url-pattern>/UpdateStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditStaffServlet</servlet-name>
  	<url-pattern>/EditStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteOrderServlet</servlet-name>
  	<url-pattern>/DeleteOrderServlet</url-pattern>
  </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
